
.flex-container {
  display: flex;
  justify-content: space-between;
  // align-items: center;
  // flex-wrap: wrap;
  background-color: white;

}



.container {
  background-color: white;
  justify-content: space-between;
}


.body {
  background-color: white;
}
