// Specific CSS for your home-page
.nav-link {
  color: white !important;
  text-decoration: none;
  &:hover { text-decoration: underline; }
}

.main-button {
    color: black;
    background-color: #FFC65B;
    width: 100px;
}
