<h1>Bookings#new</h1>
<p>Find me in app/views/bookings/new.html.erb</p>


<%= simple_form_for [@studio, @booking] do |f| %>

  <%= f.input :checkin, as: :date, html5: true %>
  <%= f.submit "Book the studio", class: "btn btn-primary" %>
<% end %>
