<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<div>
<% User.first.bookings.all.each do |booking|%>


<%= booking.studio_id %>

<% end %>
</div>

<br>
<br>

<div>
<%= User.first.studios.each do |studio| %>

<%= studio.id %>

<% end  %>
</div>
