.home-banner {
  background-image: image-url('background.jpg');
  // background-image: url('https://images.unsplash.com/photo-1559732277-7453b141e3a1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3300&q=80');
  background-size: cover;
  height: 100vh;
  color: #eee;
  // padding-top: 10vh;
}

.bannercontainer {
  margin-bottom: 0px;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


#search_category {
  color: white;
  background-color: rgba(0,0,0,0.4);
  border: 1px solid white;
  height: 40px;
  width:200px;
  margin-right:20px;
}
#search_city {
  color: white;
  background-color: rgba(0,0,0,0.4);
  border: 1px solid white;
  height: 40px;
  width:140px;
  margin-right:20px;
}

.search-btn {
  color: white;
  background-color: #007274;
  height: 40px;
}

.simple_form {
}

.show-banner {
  position: center bottom;
  background-size: cover;
  color: white;
  text-align: center;
  height: 60vh;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


