.home-banner {
  background-image: url('https://images.unsplash.com/photo-1559732277-e1404199c712?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
  background-size: cover;
  height: 100vh;
  color: #eee;
  text-align: center;
  padding-top: 20vh;
}

.banner-title {
  margin-bottom: 20vh;
}
