.navbar-arthub {
  justify-content: space-between;
  background: white;
}

.navbar-arthub .navbar-collapse {
  flex-grow: 0;
}

.navbar-arthub .navbar-brand img {
  width: 100px;
}

.navbar-arthub .nav-item {
  color: white;
}

.navbarlinkclass {
  color: black;
}

.navbarlinkclass {
    margin:20px;
    &:hover {
        color:orange;
    }
}

.navbar-arthub {
  // [...]
  background-color: transparent;
  transition: 0.5s background-color ease;
}

.navbar-arthub-white {
  background-color: white;
}
