.navbar-arthub {
  justify-content: space-between;
  background-color: transparent;  //rgba(255,255,255,0.5)
}

.navbar-arthub .navbar-brand img {
  width: 40px;
  margin-left: 10px;
}

.navbar-arthub .navbar-collapse {
  flex-grow: 0;
}

.navbar-arthub-white .navbar-collapse {
  flex-grow: 0;
}

.navbar-arthub-white .navbar-brand img {
  width: 40px;
  margin-left: 10px;
}

.navbar-arthub-white {
  justify-content: space-between;
  background-color: white;  //rgba(255,255,255,0.5)
}

.navbarlinkclass {
  color: white !important;
  margin:20px;
  padding-bottom:10px;
}

.nvblack {
  color: black !important;
}

.navbarlinkclass:hover {
  border-bottom: 2px solid orange;
}

.oh:hover {
  border-bottom: 2px solid orange;
}

