.navbar-arthub {
  justify-content: space-between;
  background-color: transparent;  //rgba(255,255,255,0.5)
}

.navbar-arthub .navbar-collapse {
  flex-grow: 0;
}

.navbar-arthub .navbar-brand img {
  width: 100px;
}

.navbar-arthub .nav-item {
  color: white;
}

.navbarlinkclass {
  color: black;
}

.navbarlinkclass {
    margin:20px;
    &:hover {
        color:orange;
    }
}

.nav-item-active {
  color: white;
  &:hover {
  background-color: yellow;
  }
}

.nav-link {
  color: white !important;
}
