<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <h3>Add a review</h3>
      <%= simple_form_for [@booking, @review] do |f| %>
      <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience" %>
      <%= f.input :description %>
      <%= f.submit "Send your review", class: "btn btn-primary"%>
      <% end %>
    </div>
  </div>
</div>





